<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <% if (typeof errors !== "undefined" && errors) { %>
            <ul>
                <% errors.array().forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>

        <h1><%= title %></h1>
        <!-- Mensajes flash -->
        <% if (locals.notice) { %>
          <p><%= locals.notice %></p>
            <% } %>
        <p>Select an option below to manage inventory or classifications.</p>
        <ul>
            <li><a href="/inv/add-inventory">Add Inventory</a></li>
            <li><a href="/inv/add-classification">Add Classification</a></li>
        </ul>

        <h2>Management Inventory</h2>
        <p>Select a classifications to see inventory items</p>

        <%- classificationList %>
        
        <table id="inventoryDisplay"></table>

        <noscript>Java must be enable to use this page</noscript>

        <script src="../../js/inventory.js"></script>
            
    </body>
</html>